fastapi
uvicorn
nltk
pandas
numpy
python-dotenv
motor
spacy
wordninja
contractions
streamlit
pyyaml
boto3
cutelog
python-multipart

pytimeparse

pydantic
pydantic-settings
python-json-logger
redis

torch

transformers
slowapi